<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        
        <!-- HTTPS Redirect -->
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Remove trailing slash -->
                <rule name="Remove trailing slash" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <!-- Prevent clickjacking -->
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                
                <!-- XSS Protection -->
                <add name="X-XSS-Protection" value="1; mode=block" />
                
                <!-- Prevent MIME type sniffing -->
                <add name="X-Content-Type-Options" value="nosniff" />
                
                <!-- Referrer Policy -->
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                
                <!-- Content Security Policy -->
                <add name="Content-Security-Policy" value="default-src 'self' https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net https://unpkg.com https://cdnjs.cloudflare.com https://fonts.googleapis.com; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://unpkg.com https://cdnjs.cloudflare.com https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://cdnjs.cloudflare.com; img-src 'self' data: https:; media-src 'self'; connect-src 'self';" />
                
                <!-- Permissions Policy -->
                <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />
                
                <!-- Strict Transport Security (HSTS) -->
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Static Content Compression -->
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        
        <httpCompression>
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/xml" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
        </httpCompression>
        
        <!-- Static File Caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            
            <!-- MIME Types -->
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
        </staticContent>
        
        <!-- Custom Error Pages -->
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.html" responseMode="File" />
            <remove statusCode="500" />
            <error statusCode="500" path="/500.html" responseMode="File" />
        </httpErrors>
        
        <!-- Default Document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
    </system.webServer>
    
    <!-- System.Web Configuration -->
    <system.web>
        <compilation debug="false" />
        <customErrors mode="On" defaultRedirect="/error.html">
            <error statusCode="404" redirect="/404.html" />
            <error statusCode="500" redirect="/500.html" />
        </customErrors>
    </system.web>
</configuration>
